@font-face {
    font-family: iAWriterMono;
    src: url(./fonts/iAWriterMonoS-Regular.woff2);
}

@font-face {
    font-family: iAWriterDuo;
    src: url(./fonts/iAWriterDuoS-Regular.woff2);
}
@font-face {
    font-family: iAWriterQuattro;
    src: url(./fonts/iAWriterQuattroS-Regular.woff2);
}

.editor{
    font-size:12pt;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.editor{
    padding:0 6ch;
    margin: auto;
    max-width: 64ch;
    white-space: pre-wrap;
}
.editor:focus{
    outline: none;
}

.editor>h1, .editor>p{
    display: block;
    margin: 0;
    line-height: 2rem;
    min-height: 2rem;
}

.editor>h1{text-indent: -2ch;}
.editor>h2{text-indent: -3ch;}
.editor>h3{text-indent: -3ch;}
.editor>h4{text-indent: -4ch;}
.editor>h5{text-indent: -5ch;}
.editor>h6{text-indent: -6ch;}

strong, em, span.tag, span.mention{
    display: inline-block;
}

em{
    font-weight: normal;
}

strong{
    font-weight: bold;
}

span.tag{
    background-color: rgba(179, 221, 255, 0.2);
    border-radius: 5px;
}

span.mention{
    background-color: rgba(251, 124, 255, 0.2);
    border-radius: 5px;
}

.selection-bounding{
    border: 3px solid red;
    border-radius: 4px;
    position: fixed;
    z-index: 2;
}
.selection-segment{
    border: 2px dashed blue;
    border-radius: 10px;
    position: fixed;
    z-index: 3;
}